<mat-icon
   class="main-icon"
   *ngIf="searchConfig.icon"
   fontSet="{{ searchConfig.iconFontSet }}"
>
   {{ searchConfig.icon }}
</mat-icon>
<mat-form-field appearance="outline">
   <mat-label>{{ searchConfig.fieldLabel }}</mat-label>
   <input
      matInput
      [formControl]="searchConfig.field"
      maxlength="{{ maxLengthValidated }}"
      minlength="{{ minLengthValidated }}"
      placeholder="{{
         searchConfig.fieldPlaceholder ? searchConfig.fieldPlaceholder : ''
      }}"
      #target
      autocomplete="off"
   />
   <mat-icon
      *ngIf="searchConfig.searchAction"
      matSuffix
      [ngClass]="{ clickable: searchConfig.minLength == 0, spinning: loading }"
      (click)="handleTyping()"
   >
      {{ !loading ? 'search' : 'loop' }}
   </mat-icon>
</mat-form-field>
<mat-form-field
   appearence="outline"
   *ngIf="searchConfig.descriptionLabel"
   class="fullwidth"
   autocomplete="off"
>
   <mat-label>{{ searchConfig.descriptionLabel }}</mat-label>
   <input
      matInput
      [formControl]="searchConfig.description"
      placeholder="{{
         searchConfig.fieldPlaceholder ? searchConfig.fieldPlaceholder : ''
      }}"
   />
</mat-form-field>
